body{
    background-color: antiquewhite;
}
#site_name{
    padding:10px;
    text-align: center;
    color:darkolivegreen;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#discount{
    color:red;
    font-size:35px;
    opacity:2;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer {
    position:absoulte;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:wheat;
    color:darkolivegreen;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
#quote{
    text-align: center;
    color:darkolivegreen;
    padding:20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top:30px;
}

#retail{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: gray;
    padding:20px;
    padding-right:50px;
    clear:left;
    text-align: center;
}
h3,h4{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkolivegreen;
    padding-left:20px;
}
#online_orders
{
    text-align: center;
    border:1px solid darkolivegreen;
    margin:10px 0px;
}
#price{
    width:150px;
    height:150px;
    margin:10px;
    padding:5px;
    border: 10px solid ;
}
#list{
    text-align: center;
    border: 1px solid darkolivegreen;
}
#price_title{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkolivegreen;
}
#location{
    margin:10px 0px;
    text-align: center;
    border: 1px solid darkolivegreen; 
}

#site_name{
    font-size: 40px;
}

#wish{
    height:250px;
    width:100%;
    background-image: url("./happy.jpg");
    background-size: cover;
    margin-bottom:10px;
}
#wishes{
    text-align: center;
    padding-top:100px;
    color: white;
    font-size: 40px;   
}
#sale{

    height:500px;
}

#retaill{
    height:200px;
    margin-top:20px;
    padding-top: 10px;
    padding-bottom:10px;
    border: 1px solid darkolivegreen;
}
#ws{
    height:200px;
    margin-top:20px;
    border: 1px solid darkolivegreen ;
    padding-top: 10px;
    padding-bottom:10px;
}
#inr{
    width:60%;
    height: 100%;
    float:left;
    margin-left:5%;
    background-color: bisque;
    background-image: url("./crackers.png");
    background-size:cover;
    margin-right:13%;
    border:1px solid;
}
#retaill>h3{
    padding-top:80px;
}
#rnd{
    width:50%;
    height:100%;
    float:right;
    border:1px solid;
    background-color: bisque;
    background-image: url("./packing.jpeg");
    background-size:cover;
    margin-right:8%;
}
#ws>h3{
    padding-top:60px;
    float: left;
    margin-left:10%;
}

